<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <main class="container">
        <section class="row">
          <article class="content column half">
              <h2>Lorem ipsum</h2>
              <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut egestas lorem, a sagittis mauris. Vivamus at lectus sit amet nunc ultrices viverra sit amet vel dolor. Aliquam a tincidunt libero. Fusce quis tellus turpis. Nullam semper ante sit amet neque tempor laoreet. Suspendisse rutrum pulvinar ante, sed aliquet quam ornare eget. In vulputate sapien sit amet est malesuada, nec elementum magna malesuada. Donec consectetur libero ut purus auctor, ut posuere neque ullamcorper. Integer sit amet gravida neque. Pellentesque magna mi, interdum eu diam eu, rhoncus sodales neque.
</p><p>
            Mauris ultrices rhoncus enim, a feugiat purus bibendum ac. Quisque eget neque nisi. Sed efficitur, nisi volutpat convallis fringilla, nisi neque imperdiet leo, eget tristique urna justo ac ex. Suspendisse volutpat iaculis tortor, et vehicula sem convallis at. Praesent nisl elit, lobortis at efficitur ac, consequat ac turpis. Aenean libero odio, porttitor dictum metus in, euismod ultricies justo. Maecenas id finibus justo, nec interdum quam. Suspendisse non risus tellus. Maecenas pulvinar dolor luctus accumsan ullamcorper. Nulla rhoncus tempus magna, in gravida est sodales nec. Aliquam porta egestas commodo. Nullam tristique felis et convallis finibus. Phasellus id justo molestie dolor feugiat maximus in nec elit. Mauris pharetra, eros ac porta facilisis, arcu eros sollicitudin ipsum, in consequat justo ex eu felis.
        </p><p>        
            Donec aliquet ut ex vitae venenatis. Quisque commodo lectus odio, sed iaculis justo porta dignissim. Nam iaculis tempor lorem, nec mollis orci euismod volutpat. Duis venenatis lorem arcu, eu luctus magna aliquet finibus. Maecenas hendrerit hendrerit tellus. Nullam venenatis eget lorem at placerat. Nullam quis lacus at purus dignissim mattis sit amet cursus purus. Donec vitae risus in ligula ullamcorper fermentum vel ac enim. Morbi sagittis risus commodo, egestas dolor vitae, faucibus elit. Sed lacus odio, aliquam suscipit odio eget, interdum maximus turpis. Donec sapien dolor, sodales nec dapibus eu, tincidunt at lorem. Aliquam orci massa, ultrices a nisl in, pretium placerat dolor. Curabitur gravida orci a consectetur hendrerit. Etiam molestie condimentum lacinia. Vivamus lobortis, leo id sollicitudin mollis, metus enim tempus ligula, in hendrerit lacus massa et odio.
        </p><p> 
            Pellentesque mollis posuere interdum. Pellentesque id ante nec sapien aliquet dapibus quis non mauris. Nam urna elit, elementum non elit quis, pellentesque lobortis mauris. Morbi ultrices, mauris vel mattis accumsan, tortor ipsum ultrices odio, at malesuada dolor velit ut odio. Etiam eu iaculis nisi. Nullam id velit aliquet nulla tempor tempor. Nam id nisi sit amet augue mollis molestie. Pellentesque id mauris pellentesque, congue enim ac, consectetur tellus. Nullam at mauris gravida, efficitur elit sit amet, pretium lectus. Nam et mattis leo, ut porttitor ipsum. Aliquam luctus suscipit sapien, at sodales massa porttitor a.
        </p><p>
            Pellentesque vitae justo metus. Donec quam odio, pharetra et orci sit amet, viverra hendrerit justo. Donec sed imperdiet nibh, sollicitudin accumsan mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sodales lacus ac erat molestie imperdiet. Quisque porta pharetra metus, et tincidunt quam rutrum in. Fusce eleifend nulla pellentesque congue auctor. In non felis nec ante ullamcorper elementum nec et magna. Etiam aliquam vel enim sed molestie. Sed euismod, magna tristique aliquet varius, nisi arcu convallis mi, malesuada vulputate erat neque non ante. Suspendisse potenti. Integer lacinia, tortor suscipit pretium maximus, lorem urna vestibulum tellus, et ultricies dolor purus in mi. Aenean luctus dolor sapien, a consectetur felis efficitur eu. Vestibulum mauris erat, rutrum in finibus eget, feugiat sed nisi.
        </p>  
          </article>
          <aside class="animation column half">
            <canvas id="canvas"></canvas>
          </aside>
        </section>

      </main>
</body>
</html>